
<script type="text/x-template" id="edit-product-component">
    <div>
        <div>
            Name: <input type="text" v-model="product.description" placeholder="name" />
        </div>
        <div>
            Quantity: <input type="number" v-model="product.quantity" placeholder="quantity" />
        </div>
        <div>
            Price: <input type="number" v-model="product.price" placeholder="price"/>
        </div>
        <input type="button" v-on:click="saveProduct" value="Save" />
    </div>
</script>
