<script type="text/x-template" id="collections">
    <div class="collections">
        <template v-for="collection in Collections">
            <input type="button" v-model="collection.Title"></input>
            @*<input v-model="login" v-bind:placeholder="loginPlaceholder" />
        <div v-for="item in shoppingList">
            <display-product v-bind:product="item"></display-product>
            <input type="button" v-on:click="editProduct(item.id)" value="Edit" />
            <input type="button" v-on:click="deleteProduct(item)" value="Delete" />
        </div>*@
        </template>
    </div>
</script>
