<script type="text/x-template" id="collections">
    <div class="collections">
        <template v-for="collection in Collections">
            <input type="button" v-on:click="selectCollection(collection)" v-model="collection.Title" class="collectionTitle"></input>
        </template>
    </div>
</script>
<style>

    .collectionTitle {
        color: green;
        width: 100%;
    }
    
</style>
