<script type="text/x-template" id="pages-panel">
    <div>
        <template v-for="page in Collection.Pages">
            <div>
                <input type="button" v-on:click="selectPage(page)" v-model="page.Title" class="pageTile"></input>
            </div>
        </template>
    </div>
</script>

<style>
    .pageTile {
        margin-top: 10px;
    }
</style>

