<script type="text/x-template" id="question">
    <div class="questionStyle">
        {{Question.Description}}
        <input v-model="Question.Value"></input>
    </div>
</script>

<style>
    .questionStyle {
        color: purple;
    }
</style>

